@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Modern+Antiqua);

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
object,embed{vertical-align:top;}
legend{display:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
img,abbr,acronym,fieldset{border:0;}

body{
	font: 14px/1.9 メイリオ,'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', Meiryo,sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
	color: #000;
	background: #fff;
}

a{
	color: #0066ff;
	text-decoration: none;
}

a:hover, .active{
  text-decoration: underline;
}

a:active, a:focus,input:active, input:focus{outline:0;}


/* ヘッダー
------------------------------------------------------------*/
#mainnav a{
	color: #000;
	font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}


/* フッター
------------------------------------------------------------*/
#footer{
	color: rgb(53, 53, 53);
	clear: both;
	padding: 50px 10px 50px 0;
	text-align: center;
	font-size: 6px;
}


/* 共通
------------------------------------------------------------*/
h1, h2{
	font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

img{
	max-width: 100%;
	height: auto;
}

section{
  clear: both;
}

section h2{
	width: 60%;
	margin: 70px auto;
	font-size: 22px;
	font-weight:normal;
	text-align: center;
}

section h2 span {
	padding-bottom: 20px;
	border-bottom: 3px solid #000;
}

.inner{
	width: 80%;
	margin: 0 auto;
	padding-bottom: 50px;
}

#sec03 .inner, #sec04 .inner{
	border-bottom: 1px solid #a0a0a0;
}

.innerS{
	width: 60%;
	margin: 0 auto;
	padding-bottom: 80px;
}

/* Link
------------------------------------------------------------*/
.primary_button__wrapper {
  padding-top: 36px;
  padding-bottom: 36px;
}

.primary_button__wrapper--center {
  text-align: center;
}

.primary_button {
  font-size: 2rem;
  display: inline-block;
  overflow: visible;
  position: relative;
}

.primary_button:hover .primary_button__stripe1:after {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform .4s ease 0s;
  transition: -webkit-transform .4s ease 0s;
  transition: transform .4s ease 0s;
  transition: transform .4s ease 0s, -webkit-transform .4s ease 0s;
}

.primary_button:hover .primary_button__stripe2:after {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform .4s ease 0s;
  transition: -webkit-transform .4s ease 0s;
  transition: transform .4s ease 0s;
  transition: transform .4s ease 0s, -webkit-transform .4s ease 0s;
}

.primary_button__stripe1,
.primary_button__stripe2 {
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}

.primary_button__stripe1:before,
.primary_button__stripe1:after,
.primary_button__stripe2:before,
.primary_button__stripe2:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.primary_button__stripe1 {
  bottom: -4px;
  left: -6px;
}

.primary_button__stripe1:after {
  -webkit-transform: translate(-80px, 80px);
      -ms-transform: translate(-80px, 80px);
          transform: translate(-80px, 80px);
  -webkit-transition: -webkit-transform .1s linear 0s;
  transition: -webkit-transform .1s linear 0s;
  transition: transform .1s linear 0s;
  transition: transform .1s linear 0s, -webkit-transform .1s linear 0s;
}

.primary_button__stripe2 {
  top: -4px;
  right: -6px;
}

.primary_button__stripe2:after {
  -webkit-transform: translate(80px, -80px);
      -ms-transform: translate(80px, -80px);
          transform: translate(80px, -80px);
  -webkit-transition: -webkit-transform .1s linear 0s;
  transition: -webkit-transform .1s linear 0s;
  transition: transform .1s linear 0s;
  transition: transform .1s linear 0s, -webkit-transform .1s linear 0s;
}

.primary_button--black {
  color: #ffffff;
}

.primary_button--black .primary_button__stripe1:before {
  background: -webkit-repeating-linear-gradient(135deg, transparent, transparent 5px, #000000 6px, #000000 12px);
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, #000000 6px, #000000 12px);
}

.primary_button--black .primary_button__stripe1:after {
  background: -webkit-repeating-linear-gradient(135deg, transparent, transparent 5px, #830324 6px, #830324 12px);
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, #830324 6px, #830324 12px);
}

.primary_button--black .primary_button__stripe2:before {
  background: -webkit-repeating-linear-gradient(135deg, transparent, transparent 5px, #555555 6px, #555555 12px);
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, #555555 6px, #555555 12px);
}

.primary_button--black .primary_button__stripe2:after {
  background: -webkit-repeating-linear-gradient(135deg, transparent, transparent 5px, #d7063b 6px, #d7063b 12px);
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, #d7063b 6px, #d7063b 12px);
}

.primary_button--red {
  color: #ffffff;
}

.primary_button--red:hover {
  color: #d7063b;
}

.primary_button--red .primary_button__stripe1:before {
  background: -webkit-repeating-linear-gradient(135deg, transparent, transparent 5px, #830324 6px, #830324 12px);
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, #830324 6px, #830324 12px);
}

.primary_button--red .primary_button__stripe1:after {
  background: -webkit-repeating-linear-gradient(135deg, transparent, transparent 5px, #dddddd 6px, #dddddd 12px);
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, #dddddd 6px, #dddddd 12px);
}

.primary_button--red .primary_button__stripe2:before {
  background: -webkit-repeating-linear-gradient(135deg, transparent, transparent 5px, #d7063b 6px, #d7063b 12px);
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, #d7063b 6px, #d7063b 12px);
}

.primary_button--red .primary_button__stripe2:after {
  background: -webkit-repeating-linear-gradient(135deg, transparent, transparent 5px, #ffffff 6px, #ffffff 12px);
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, #ffffff 6px, #ffffff 12px);
}

.primary_button--blue {
  color: #ffffff;
}

.primary_button--blue:hover {
  color: #000000;
}

.primary_button--blue .primary_button__stripe1:before {
  background: -webkit-repeating-linear-gradient(135deg, transparent, transparent 5px, #001630 6px, #001630 12px);
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, #001630 6px, #001630 12px);
}

.primary_button--blue .primary_button__stripe1:after {
  background: -webkit-repeating-linear-gradient(135deg, transparent, transparent 5px, #dddddd 6px, #dddddd 12px);
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, #dddddd 6px, #dddddd 12px);
}

.primary_button--blue .primary_button__stripe2:before {
  background: -webkit-repeating-linear-gradient(135deg, transparent, transparent 5px, #002b60 6px, #002b60 12px);
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, #002b60 6px, #002b60 12px);
}

.primary_button--blue .primary_button__stripe2:after {
  background: -webkit-repeating-linear-gradient(135deg, transparent, transparent 5px, #ffffff 6px, #ffffff 12px);
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, #ffffff 6px, #ffffff 12px);
}

.primary_button__link {
  line-height: 66px;
  padding-left: 64px;
  padding-right: 64px;
  position: relative;
  z-index: 10;
}

.link--default {
  color: inherit;
  text-decoration: none;
  display: block;
}

.link--text {
  color: inherit;
  text-decoration: none;
  display: block;
}

.link--text:hover {
  text-decoration: underline;
}

.link--text:active {
  text-decoration: underline;
}



/* SEC02 Gallery
------------------------------------------------------------*/
#sec02{
	padding: 0 !important;
}

#sec02 header{
	display: none;
}

#gallery{
	overflow: hidden;
}

#gallery li{
	float: left;
	width: calc(100%/3);
	line-height: 0;
}
#gallery li.full{
	width: 100%;
}


#gallery img{
	display: block;
	width: 100%;
	height: auto;
}


/* SEC03 BRAND
------------------------------------------------------------*/
.col5 .img{
	margin: 0 auto;
}



/* SEC04 PROJECT
------------------------------------------------------------*/
#sec04{
	padding-bottom: 0 !important;
}

.article{
	clear: both;
	overflow: hidden;
	padding-bottom: 15px;
}

.article img{
	float: left;
	margin: 0 auto;
	padding-right: 15px;
}

.article p{
	margin-bottom: 10px;
}



/* SEC05 COMPANY
------------------------------------------------------------*/
#sec05 p{
	margin-bottom: 5px;
}

.col2 li{
	display: inline-block;
	width: 100%;
  margin: 20px 0;
}

#map{
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
	z-index: 0;
}

#map iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	border: 0;
}



/* RESPONSIVE 設定
------------------------------------------------------------*/

@media only screen and (min-width: 800px){
	body{
		font-size:14px;
	}
	
	#wrapper{
		width: 100%;
	}
	
	#content{
		width: 80%;
	}
	
	#sidebar{
		width: 12%;
		position: fixed;
		top: 0;
		right: 4%;
		background: #fff;
	}
	
  a#menu{
		display:none;
	}	

	.panel{
		display:block !important;
	}
	
	#sidebar h1{
		padding: 30px 0;
	}

	#mainnav li{
		font-size: 14px;
		padding: 10px 0;
	}
	
	#sns{
		margin-top: 10px;
	}
	
	#sns li{
		display: inline-block;
		padding-right: 10px;
	}

	#sns a:hover img{
		opacity: .8;
	}
	
	/* SEC03 BRAND
	-----------------*/
	.col5{
		text-align: center;
	}

	.col5 li{
		display: inline-block;
		width: 15%;
		padding: 0 2%;
		vertical-align: top;
		text-align: left;
	}
	
	#map iframe{
		height: 100% !important;
  }
	
  #footer{
		padding: 30px 10px 70px 0;
	}
}


@media only screen and (min-width: 641px){
	.col2 li{
		width: 60%;
		vertical-align: top;
	}
	.col2 li:first-child{
		width: 35%;
		padding-right: 4%;
	}
}

@media only screen and (max-width: 640px){
	.innerS{
		width: 94%;
		padding-bottom: 30px;
	}
	#gallery li{
		float: none;
		width: 100%;
	}
	.article img{
		float: none;
		display: block;
		margin: 0 auto 20px;
	}
	#map iframe{
		width: 100% !important;
		left: 2%;
	}
	.primary_button__wrapper {
		padding-top: 35px;
		padding-bottom: 35px;
		width: 92%;
		margin-left: auto;
		margin-right: auto;
	}

	.primary_button {
		width: 96%;
		font-size: 16px;
	}

	.primary_button__link {
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (max-width: 799px){
	#sidebar{
		position: fixed;
		width: 100%;
		z-index:500;
	}
	
	#sidebarWrap{
		position: relative;
		width: 100%;
		height: 60px;
		background: #fff;
		border-bottom: 1px solid #ccc;
	}
	
	#sidebar h1{
		text-align: center;
		padding-top: 15px;
	}
	
	#sidebar h1 img{
		width: auto !important;
		max-height: 40px;
	}
	
  a#menu{
  	display: inline-block;
  	position: relative;
  	width: 40px;
  	height: 40px;
  	margin: 10px;
	}

	#menuBtn{
  	display: block;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	width: 18px;
  	height: 2px;
  	margin: -1px 0 0 -7px;
  	background: #000;
  	transition: .2s;
	}

	#menuBtn:before, #menuBtn:after{
  	display: block;
  	content: "";
  	position: absolute;
  	top: 50%;
  	left: 0;
  	width: 18px;
  	height: 2px;
  	background: #000;
  	transition: .3s;
	}

	#menuBtn:before{
  	margin-top: -7px;
	}

	#menuBtn:after{
  	margin-top: 5px;
	}

	a#menu .close{
  	background: transparent;
	}

	a#menu .close:before, a#menu .close:after{
  	margin-top: 0;
	}

	a#menu .close:before{
  	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
	}

	a#menu .close:after{
  	transform: rotate(-135deg);
  	-webkit-transform: rotate(-135deg);
	}

	.panel{
		width: 100%;
		display: none;
		overflow: hidden;
		position: relative;
		left: 0;
		top: -10px;
		z-index: 100;
	}

	#mainnav{
		position: absolute;
		top: 0;
		width: 100%;
		text-align: right;
	}

	#mainnav ul{
		border-bottom: 1px solid #ccc;
		background: #fff;
		text-align: left;
	}

	#mainnav li a{
		position: relative;
		display: block;
		padding: 15px 25px;
		border-bottom: 1px solid #ccc;
		color: #000;
		font-weight: 400;
	}
	#mainnav li a:before{
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 5px;
		width: 6px;
		height: 6px;
		margin: -4px 0 0 0;
		border-top: solid 2px #000;
		border-right: solid 2px #000;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	#mainnav #sns li{
		display: inline-block;
	}
	#mainnav #sns li a{
		position: relative;
		display: inline-block;
		padding: 15px 10px 0;
		border: 0;
	}
	#mainnav #sns li a:before{
		border: 0;
	}
	.col5 li{
		margin: 0 auto 50px;
		display: block;
		text-align: center;
	}
	section h2{
		margin: 55px auto;
	}
}
